<!DOCTYPE html>
<html lang="en">
   <head>
      <script src="/head.js"></script>
      <meta charset="utf-8"/>
      <meta name="viewport" content="width=device-width, initial-scale=1"/>
      <script src="/client/console/console.js"></script>
      <link rel="stylesheet" type="text/css" href="/style.css" />
      <title>Template</title>
   </head>
   <body>
      <script src="/body.js"></script>
      <h1>Id</h1>
      <a href="script.js">script.js</a>
      <pre>
         <script>
throw new Error("boo");
         </script>
      </pre>
   </body>
</html>
