*.pid
*.log
log
bee.fish.db2
*.o
trace.txt
*.data
data
privatekey.pem
server/b-string/b-string
server/database/database
server/https/https
server/id/id
server/json/json
server/parser/parser
server/power-encoding/power-encoding
server/test/test
server/web-request/web-request
server/web-response/web-response
server/web-server/web-server
server/b-script/b-script

FeebeeCam/components/arduino
build/