*.pid
*.log
log
bee.fish.db2
*.o
trace.txt
*.data
data
!/Arduino/libraries
/Arduino/libraries/*
!/Arduino/libraries/light
server/b-string/b-string
server/database/database
server/https/htt
server/id/idlight
server/json/json
server/parser/parser
server/power-encoding/power-encoding
server/test/test