html {
   height: 100%;
   font-family: "Courier new", monospace, serif;
}

body {
   height: 100%;
   color: black;
   background-color: #A34D32;
   background-image: url('/feebee-small.jpg');
   background-size: auto 100%;
   background-repeat: no-repeat;
   background-position: top;
   background-attachment: fixed;
}


script {
   display: none;
   font-family: monospace;
   white-space: pre-wrap;
   word-wrap: break-word;
   color: black;
}

pre {
   color: blue;
   font-family: monospace;
   white-space: pre-wrap;
   word-wrap: break-word;
}

.export {
   color: blue;
}
