body {
   background-color: black;
   background-size: auto 100%;
   background-repeat: no-repeat;
   background-position: top;
   user-select: none;
   background-image: none;
   color: red;
   font-family: 'Courier New', Courier, monospace;
}

script {
   display: none;
}
