html {
    width: 100%;
    height: 100%;

}

body {
    background-color: lightgrey;
    width: 100%;
    height: 100%;
}

button {
    width: 100%;
    height: 70px;
}

#child2:not(.fullScreen) {
    position: absolute;
    left: 75px;
    top: 300px;
    width: 200px;
    height: 150px;
}
